[id="contenu-principal"] {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  [id="contenu-principal"] > * {
    margin-left: var(--spacing-thin);
    margin-right: var(--spacing-thin);
  }
  
  [id="contenu-principal"] > header {
    margin-left: 0;
    margin-right: 0;
  }
  
  [id="contenu-principal"] > * + * {
    margin-top: var(--spacing-broad);
  }
  